body{
    background-color: rgb(86, 58, 24);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: cursive;
    margin: 0;

}
.container {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 10px 4px 8px rgb(18, 18, 18);
    margin: 10px;
    
    
}
.input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 25px;
    padding: 10px;
    border: solid rgb(36, 69, 58);
    color: rgb(1, 19, 5);
    border-radius: 20px;
}
#btn {
    background-color: rgb(36, 69, 58);
    margin: 10px;
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    color: aliceblue;
    margin: 20px 0;
    display: block;
    padding: 10PX;
    cursor: pointer;
}
.input ::placeholder {
    color: aliceblue;
    font-family: cursive;
    
}
#btn:hover {
    filter: brightness(0.6);
}

h3 {
    color: green;
    text-align: right;
  
}
#pop-up{
     margin-left: 10em;
    background-color: RED;
    width: 70PX;
    height: 40PX;
    display: flex ;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    box-shadow: 4px 4px 4px 4px; 
    visibility: hidden;
    
    color: black;
    
}